<p id="notice"><%# notice %></p>

<h1>Listing Form Uni Seguros</h1>

<table>
  <thead>
    <tr>
      <th>Desnombre</th>
      <th>Desapellido</th>
      <th>Rif</th>
      <th>Codarealocal</th>
      <th>Numtelefonolocal</th>
      <th>Codareacel</th>
      <th>Numtelefcel</th>
      <th>Fecnac</th>
      <th>Codedocivil</th>
      <th>Codsexo</th>
      <th>Email</th>
      <th>Codmarca</th>
      <th>Codmodelo</th>
      <th>Codversion</th>
      <th>Anoveh</th>
      <th>Codinter</th>
      <th>Codestado</th>
      <th>Codplan</th>
      <th>Revplan</th>
      <th>Porcdcto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_uni_seguros.each do |form_uni_seguro| %>
      <tr>
        <td><%= form_uni_seguro.desnombre %></td>
        <td><%= form_uni_seguro.desapellido %></td>
        <td><%= form_uni_seguro.rif %></td>
        <td><%= form_uni_seguro.codarealocal %></td>
        <td><%= form_uni_seguro.numtelefonolocal %></td>
        <td><%= form_uni_seguro.codareacel %></td>
        <td><%= form_uni_seguro.numtelefcel %></td>
        <td><%= form_uni_seguro.fecnac %></td>
        <td><%= form_uni_seguro.codedocivil %></td>
        <td><%= form_uni_seguro.codsexo %></td>
        <td><%= form_uni_seguro.email %></td>
        <td><%= form_uni_seguro.codmarca %></td>
        <td><%= form_uni_seguro.codmodelo %></td>
        <td><%= form_uni_seguro.codversion %></td>
        <td><%= form_uni_seguro.anoveh %></td>
        <td><%= form_uni_seguro.codinter %></td>
        <td><%= form_uni_seguro.codestado %></td>
        <td><%= form_uni_seguro.codplan %></td>
        <td><%= form_uni_seguro.revplan %></td>
        <td><%= form_uni_seguro.porcdcto %></td>
        <td><%= link_to 'Show', form_uni_seguro %></td>
        <td><%= link_to 'Edit', edit_form_uni_seguro_path(form_uni_seguro) %></td>
        <td><%= link_to 'Destroy', form_uni_seguro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form uni seguro', new_form_uni_seguro_path %>

<%= @cotizacion rescue nil %> 