<p id="notice"><%= notice %></p>

<p>
  <strong>Desnombre:</strong>
  <%= @form_uni_seguro.desnombre %>
</p>

<p>
  <strong>Desapellido:</strong>
  <%= @form_uni_seguro.desapellido %>
</p>

<p>
  <strong>Rif:</strong>
  <%= @form_uni_seguro.rif %>
</p>

<p>
  <strong>Codarealocal:</strong>
  <%= @form_uni_seguro.codarealocal %>
</p>

<p>
  <strong>Numtelefonolocal:</strong>
  <%= @form_uni_seguro.numtelefonolocal %>
</p>

<p>
  <strong>Codareacel:</strong>
  <%= @form_uni_seguro.codareacel %>
</p>

<p>
  <strong>Numtelefcel:</strong>
  <%= @form_uni_seguro.numtelefcel %>
</p>

<p>
  <strong>Fecnac:</strong>
  <%= @form_uni_seguro.fecnac %>
</p>

<p>
  <strong>Codedocivil:</strong>
  <%= @form_uni_seguro.codedocivil %>
</p>

<p>
  <strong>Codsexo:</strong>
  <%= @form_uni_seguro.codsexo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @form_uni_seguro.email %>
</p>

<p>
  <strong>Codmarca:</strong>
  <%= @form_uni_seguro.codmarca %>
</p>

<p>
  <strong>Codmodelo:</strong>
  <%= @form_uni_seguro.codmodelo %>
</p>

<p>
  <strong>Codversion:</strong>
  <%= @form_uni_seguro.codversion %>
</p>

<p>
  <strong>Anoveh:</strong>
  <%= @form_uni_seguro.anoveh %>
</p>

<p>
  <strong>Codinter:</strong>
  <%= @form_uni_seguro.codinter %>
</p>

<p>
  <strong>Codestado:</strong>
  <%= @form_uni_seguro.codestado %>
</p>

<p>
  <strong>Codplan:</strong>
  <%= @form_uni_seguro.codplan %>
</p>

<p>
  <strong>Revplan:</strong>
  <%= @form_uni_seguro.revplan %>
</p>

<p>
  <strong>Porcdcto:</strong>
  <%= @form_uni_seguro.porcdcto %>
</p>

<%= link_to 'Edit', edit_form_uni_seguro_path(@form_uni_seguro) %> |
<%= link_to 'Back', form_uni_seguros_path %>
