<div class="container-fluid" id="viewtitle">
    <h1><img src="<%= image_url 'logojohan.jpg' %>" alt="bienvenido"></h1>
    <h3 class="subtitle"><img src="<%= image_url 'car.png' %>" alt="correo">  Version del Vehiculo</h2>
</div>

<%= form_for @corredor, :url => version_corredors_path, :method => :post  do |f| %>
  <% if @corredor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@corredor.errors.count, "error") %> prohibited this corredor from being saved:</h2>

      <ul>
      <% @corredor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container" id="lista_modelos">
  <ul class="list-group">
      <% lista = Version.where(make: @corredor.marca, model: @corredor.modelo ) %>
      <% lista.each do |version| %>
    <li class="list-group-item">
      <%= hidden_field_tag :id, @corredor.id %>
      <%= f.radio_button :version, version[:code], :onclick => "this.form.submit()"%> 
      <%= version.version %>
    </li>
      <% end %>
  </ul>
</div>

 <% end %>